<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/semantic.min.css"></link>
</head>
<body>
	<div class="ui grid">
	  <div class="three wide  column">
	  	<div class="ui inverted vertical menu">
			<a class="active item">Home </a>
			<a class="item">Messages </a>
			<a class="item">好友 </a>
		</div>
	  </div>
	  <div class="thirteen wide black column"></div>
	</div>
	<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
	<script src="/semantic.min.js"></script>
	<script type="text/javascript"></script>
</body>
</html>